<div class="hero">
  <div class="hero__content">
    <div class="hero__left-content">
      <div class="hero__image">
        <img src="./images/hero.jpg" alt="hero image" />
        <div class="hero__image-subtitle">
          <h2>The Best Hair Style 2021</h2>
        </div>
      </div>

      <ul class="hero__links">
        <li class="hero__link"><a href="#!">Facebook</a></li>
        <li class="hero__link"><a href="#!">Instagram</a></li>
        <li class="hero__link"><a href="#!">Twitter</a></li>
      </ul>
    </div>
    <div class="hero__right-content">
      <nav class="hero__nav">
        <ul class="hero__nav-links">
          <li class="hero__nav-link hero__nav-link--active">
            <a href="">Home</a>
          </li>
          <li class="hero__nav-link"><a href="">Style Hair</a></li>
          <li class="hero__nav-link"><a href="">Models</a></li>
          <li class="hero__nav-link"><a href="">Shop</a></li>
          <li class="hero__nav-link"><a href="">Contact</a></li>
        </ul>

        <a href="#!" class="hero__nav-cart"
          ><img src="./images/iconCart.svg" alt="cart"
        /></a>
      </nav>

      <h1 class="hero__title">Lorem ipsum dolor sit amet!</h1>
      <p class="hero__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non felis non
        at tristique. Est ante magna diam magna pharetra. Turpis sagittis
        consectetur est, integer sed. Sagittis malesuada tellus diam sapien
        platea.
      </p>
      <button class="hero__button">Shopping Now</button>
      <p class="hero__number">01</p>
    </div>

    <div class="hero__bg-element-1">
      <img src="./images/bgElement.png" alt="" />
    </div>
    <div class="hero__bg-element-2">
      <img src="./images/bgElement.png" alt="" />
    </div>
    <div class="hero__bg-element-3">
      <img src="./images/bgElement.png" alt="" />
    </div>
  </div>

  <div class="hero__content">
    <div class="hero__left-content">
      <div class="hero__image">
        <img src="./images/hero.jpg" alt="hero image" />
        <div class="hero__image-subtitle">
          <h2>The Best Hair Style 2021</h2>
        </div>
      </div>

      <ul class="hero__links">
        <li class="hero__link"><a href="#!">Facebook</a></li>
        <li class="hero__link"><a href="#!">Instagram</a></li>
        <li class="hero__link"><a href="#!">Twitter</a></li>
      </ul>
    </div>
    <div class="hero__right-content">
      <nav class="hero__nav">
        <ul class="hero__nav-links">
          <li class="hero__nav-link hero__nav-link--active">
            <a href="">Home</a>
          </li>
          <li class="hero__nav-link"><a href="">Style Hair</a></li>
          <li class="hero__nav-link"><a href="">Models</a></li>
          <li class="hero__nav-link"><a href="">Shop</a></li>
          <li class="hero__nav-link"><a href="">Contact</a></li>
        </ul>

        <a href="#!" class="hero__nav-cart"
          ><img src="./images/iconCart.svg" alt="cart"
        /></a>
      </nav>

      <h1 class="hero__title">Lorem ipsum!</h1>
      <p class="hero__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non felis non
        at tristique. Est ante magna diam magna pharetra. Turpis sagittis
        consectetur est, integer sed. Sagittis malesuada tellus diam sapien
        platea.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non felis non
        at tristique. Est ante magna diam magna pharetra. Turpis sagittis
        consectetur est, integer sed. Sagittis malesuada tellus diam sapien
        platea.
      </p>
      <button class="hero__button">Shopping Now</button>
      <p class="hero__number">02</p>
    </div>

    <div class="hero__bg-element-1">
      <img src="./images/bgElement.png" alt="" />
    </div>
    <div class="hero__bg-element-2">
      <img src="./images/bgElement.png" alt="" />
    </div>
    <div class="hero__bg-element-3">
      <img src="./images/bgElement.png" alt="" />
    </div>
  </div>

  <div class="hero__content">
    <div class="hero__left-content">
      <div class="hero__image">
        <img src="./images/hero.jpg" alt="hero image" />
        <div class="hero__image-subtitle">
          <h2>The Best Hair Style 2021</h2>
        </div>
      </div>

      <ul class="hero__links">
        <li class="hero__link"><a href="#!">Facebook</a></li>
        <li class="hero__link"><a href="#!">Instagram</a></li>
        <li class="hero__link"><a href="#!">Twitter</a></li>
      </ul>
    </div>
    <div class="hero__right-content">
      <nav class="hero__nav">
        <ul class="hero__nav-links">
          <li class="hero__nav-link hero__nav-link--active">
            <a href="">Home</a>
          </li>
          <li class="hero__nav-link"><a href="">Style Hair</a></li>
          <li class="hero__nav-link"><a href="">Models</a></li>
          <li class="hero__nav-link"><a href="">Shop</a></li>
          <li class="hero__nav-link"><a href="">Contact</a></li>
        </ul>

        <a href="#!" class="hero__nav-cart"
          ><img src="./images/iconCart.svg" alt="cart"
        /></a>
      </nav>

      <h1 class="hero__title">Lorem ipsum!</h1>
      <p class="hero__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non felis non
        at tristique. Est ante magna diam magna pharetra. Turpis sagittis
        consectetur est, integer sed. Sagittis malesuada tellus diam sapien
        platea.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non felis non
        at tristique. Est ante magna diam magna pharetra. Turpis sagittis
        consectetur est, integer sed. Sagittis malesuada tellus diam sapien
        platea.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non felis non
        at tristique. Est ante magna diam magna pharetra. Turpis sagittis
        consectetur est, integer sed. Sagittis malesuada tellus diam sapien
        platea.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non felis non
        at tristique. Est ante magna diam magna pharetra. Turpis sagittis
        consectetur est, integer sed. Sagittis malesuada tellus diam sapien
        platea.
      </p>
      <button class="hero__button">Shopping Now</button>
      <p class="hero__number">03</p>
    </div>

    <div class="hero__bg-element-1">
      <img src="./images/bgElement.png" alt="" />
    </div>
    <div class="hero__bg-element-2">
      <img src="./images/bgElement.png" alt="" />
    </div>
    <div class="hero__bg-element-3">
      <img src="./images/bgElement.png" alt="" />
    </div>
  </div>
</div>
